<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">products</h2>
        <img
          src="./images/chevron.svg"
          class="icon icon--white collapsible__chevron"
        />
      </header>
      <div class="collapsible__content">
        <a href="">Website Hosting</a>
        <a href="">Free Automated Wordpress</a>
        <a href="">migrations</a>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">company</h2>
        <img
          src="./images/chevron.svg"
          class="icon icon--white collapsible__chevron"
        />
      </header>
      <div class="collapsible__content">
        <a href="">Website Hosting</a>
        <a href="">Free Automated Wordpress</a>
        <a href="">migrations</a>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">support</h2>
        <img
          src="./images/chevron.svg"
          class="icon icon--white collapsible__chevron"
        />
      </header>
      <div class="collapsible__content">
        <a href="">Website Hosting</a>
        <a href="">Free Automated Wordpress</a>
        <a href="">migrations</a>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2020 Mosh Hamadani</p>
    </section>
  </div>
</footer>
