<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h3 class="callout__header">
                ready to get started
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae debitis cum quam facere impedit fugit ipsum aliquid totam voluptatibus numquam.</p>
        
        </div>
        <a href="#" class="btn btn--secondary btn--stretched">
            get start
        </a>
    </div>
</div>