<div style="width: 30%; padding: 4rem;" class="">
    <div class="card card--secondary">
        
        <div class="card__header">
            card title
        </div>
        <div class="card__body">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni excepturi neque dolore veritatis aut natus eius modi minima, veniam delectus mollitia possimus odit, ratione pariatur placeat dicta quia dolor iusto architecto perferendis consequatur adipisci! Ducimus velit cupiditate natus culpa commodi laboriosam, minima corrupti, nulla eligendi voluptatum, optio modi vero possimus!
            
        </div>
    </div>
    </div>