<div class="media">
    <div class="media__image">

            <svg class="icon icon--primary ">

                <use xlink:href="images/sprite.svg#snap"></use>
              </svg>
              
    </div>
    <div class="media__body">
        <h3 class="media__title">
        Lorem ipsum, dolor sit amet consectetur adipisicing.
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, ut corporis! Quae beatae unde tempora, exercitationem dicta doloribus dolorem modi?</p>
    </div>
</div>